:root {
  --hilight-color: #2196f3;
  --text-color: #212121;
  --uppercontacts-color: #757575;
  --address-color: #ffffff99;
}
.logo {
  font-family: "Railway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  cursor: pointer;
  text-decoration: none;
}

.interactive-elements [type="button"]:hover,
.interactive-elements [type="button"]:focus {
  background-color: var(--hilight-color);
  cursor: pointer;
  color: #ffffff;
}
.contacts {
  text-decoration: none;
  color: var(--uppercontacts-color);
  font-weight: 500;
}
.contacts:hover,
.contacts:focus {
  color: var(--hilight-color);
}
.address > p,
.address > a {
  color: var(--address-color);
  font-style: normal;
}

.navigation-elements {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}
.navigation-elements:hover,
.navigation-elements:focus {
  color: var(--hilight-color);
}
.team p {
  font-size: 16px;
  font-weight: 500;
}
.team span {
  color: var(--uppercontacts-color);
}
h1 {
  font-weight: 900;
  font-size: 44px;
  color: #ffffff;
}
h2 {
  font-size: 36px;
  font-weight: 700;
}
h4 {
  font-weight: 700;
}

.random-text p {
  color: var(--uppercontacts-color);
  line-height: 1.714;
}
.portfolio p {
  font-weight: 700;
  font-size: 18px;
}
.portfolio span {
  font-weight: 400;
  font-size: 16px;
  color: var(--uppercontacts-color);
}
